{% extends 'netchan/base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}

{% block title_block %}
    A+DD Category
{% endblock %}

{% block body_block %}
<body>
    <div class="">
        <h1 class="display-3">Add Category</h1>
    </div>
    
    <div>
        <form id="category_form" method="post" action="{% url 'add_category' %}"> {# action= sends to the URL then view POST#}
            {% csrf_token %}
             
            {{ form.as_p}}
            <button class="btn btn-primary" type="submit" value="Submit">Create Category</button>           
        </form>
    </div>
</body>
{% endblock %}