{% extends 'netchan/base.html' %}
{% load static %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}

    {% if category %}
        <h1>{{ category.name }}</h1>
  
        <div>
            Likes: <strong id="like_count">{{ category.likes }}</strong>
            {% if user.is_authenticated %}
            {% if not liked %}        
                <button class="btn btn-primary btn-sm" id="likes" data-catid="{{ category.id }}" type="button">Like</button>
            {% endif %}
            {% endif %}
            <p>Views: <strong>{{ category.views }}</strong></p>
        </div>

        {% if pages %}
            <ul id="data-cat-list">
            {% for page in pages %}
                <li><a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a> / Views: {{ page.views }}</li>
            {% endfor %}
            </ul>
            <a href="{% url 'add_page' category.slug %}">add page</a><br />
        {% else %}
            <strong>No Pages her drp</strong>
        {% endif %}
        
    {% else %}
        <strong>The Specified Category does not exist drp</strong>
        <h5>Would you like to <a href="{% url 'add_category' %}">add a new category</a>?</h5>
    {% endif %}
<hr />

{% if user.is_authenticated %}
<div>
    <h4>Search then "add" a page by clicking "add"!!</h4>
    <form class="form-inline" id="user_form" method="post" action="{% url 'show_category' category.slug %}">
        {% csrf_token %}
        <div class="form-group">
            {% if query %}
                <input class="form-control" type="text" size="50" name="query" value="{{ query }}" id="query" />
            {% else %}
                <input class="form-control" type="text" size="50" name="query" value="" id="query" />
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
    </form>

    <div>
        {% if result_list %}
        <h3>Results</h3>
        <!-- Display search results in ordered list -->
        <div class="list-group">
            {% for result in result_list %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <a href="{{ result.link }}" id="">{{ result.title }}</a>
                        <button id="auto-add" class="btn-sm btn-primary" cat-id="{{ category.id }}" page-title="{{ result.title }}" page-url="{{ result.link}}">
                            Add
                        </button>
                    </h4>
                    <p class="list-group-item-text">{{ result.summary }}</p>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}



