{% extends 'netchan/base.html' %}
{% load static %}

{% block body_block %}
<ul>
    {% if categories %}
        {% for c in categories %}
            {% if c == current_category %}
                <li><strong>
                    <a href="{% url 'show_category' c.slug %}">{{ c.name }}</a>
                </strong></li>
            {% else %}
                <li>
                    <a class="cat-hover-button chv-green"href="{% url 'show_category' c.slug %}">{{ c.name }}</a>
               </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>None</strong></li>
    {% endif %}
</ul>
{% endblock %}