{% extends 'netchan/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
<body>
    <div class="jumbotron">
        <h1 class="display-3">netchan says...</h1> 
        {% if user.is_authenticated %}
            <h2>Welcome {{ user.username }}.</h2>
        {% else %}   
            <h3>later</h3> <br />
        {% endif %}
    </div>

    <div class="row mark">
        <div class="col-lg-6">
        {% if categories %}
        <h4>Top 5 Categories</h4>
        <ul class="list-group">
            {% for category in categories %}
                <li class="">
                    <a href="{% url 'show_category' category.slug %}" class="list-group-item list-group-item-action">
                        {{ category.name }} 
                        <span class="tag tag-pill tag-primary">{{ category.likes }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present derrrrr</strong>
        {% endif %}
        </div>

        <div class="col-lg-6">   
            {% if pages %}
            <h4>Top 5 Pages</h4>
            <ul class="list-group">
                {% for page in pages %}
                <li class="">
                    <a href="{% url 'goto' %}?page_id={{page.id}}" class="list-group-item list-group-item-action">
                    {{ page.title }} <span class="tag tag-pill tag-primary">{{page.views }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
    </div>
    <img src="{% static 'images/yatsuba-404.jpg' %}" alt="Yatsuba 404 pic" />
</body>
{% endblock %}